@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

footer{
    position: fixed;
    background: var(--Backgriund-Linear, linear-gradient(181deg, #F7EEE7 0.47%, #F9E9A3 277.67%, #FD0 438.32%));
    width: 100%;
    bottom: 0;
    left: 0;
}
footer .content{
    padding: 24px 80px;
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.media-icons{
    display: flex;
}
.media-icons a{
    height: 44px;
    width: 44px;
    margin-left: 8px;
    background: var(--Primary-A-300, #82DCFF);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.link_name{
    color: var(--Primary-A-500, #00A8E8);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}
.link_para{
    color: var(--Primary-A-700, #00658B);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.copyright-box{
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--Neutral-200, #E2E2E2);;
}
.copyright_text{
    color: var(--Neutral-500, #9F9F9F);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* 
@media (max-width: 900px){
    .content .top .media-icons{
        margin-top: 16px;
    }
    footer .content {
        width: 40%;
        margin-top: 10px;
    }
}
@media (max-width: 700px){
    footer{
        position: relative;
    } 
    .content .top .media-icons a{
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .box{
        width: calc(100% / 3 - 10px);
    }
    footer .content {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
        font-size: 12px;
    } 
}
*/

@media (max-width: 520px){
    footer::before{
        top: 145px;
    }
    footer .content .top{
       flex-direction: column;
    }
    .content .top .media-icons{
        margin-top: 16px;
    }
    footer .content .box{
        width: calc(100% / 2 - 10px);
    }
    footer .content{
        width: 100%;
    }
}